body {
	font-family: "Lucida Grande", "Times New Roman", "Lucida Sans Unicode", Verdana, sans-serif;
}

sense {
    margin-bottom: 1em;
}
form[type="lemma"] {
	font-weight: bold;
}

form[type="phrase"] {
	font-weight: bold;
}

gramGrp pos {
	color: #00994d;
}

sense bibl{
    color: #352CAE;
}
bibl title{
	color: #9437ff;
}

bibl ref{
	color: black;
}
def cit[type="translation"]{
    color: #0086b3;
      font-style: italic; 

    }

def cit[type="original"] {
    color: #004d4d;
  }

sense cit[type="syn"] {
    color: black;
    }


gramGrp:before {
	content: " [";
}

gramGrp:after {
	content: "] ";
}

pos:after {
    content: ";";
    color: black
}


entry {
    display: block;
}

def {
    display: block;
}

bibl {
    display: block;
}

bibl:after{
    content: "]";
}

bibl:before{
    content:"[źródło: ";
}
xml[lang="pl"]{
    color: #ac00e6;
}

cit[type="original"]:before{
    content: "(";
}

cit[type="original"]:after{
    content: ")";
}

def:before{
    content: "#";
}

fileDesc title{
    display: block;
    font-weight: bold;}
    
availability{
    display: none
}

fileDescrespStmt{
    display: block;
}

fileDesc author{
    display: block;
}

publicationStmt authority:after{
    content: ", ";
}
publicationStmt  publisher{
    display: block;
}

resp:after{
    content: ": ";
}

respStmt name:after{
    content: ", ";
}