body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Times New Roman",  Verdana, sans-serif;
	font-size: 17px;
}

teiHeader {
	display: none;
}

entry {
	margin-bottom: 1em;
}

form[type="lemma"] {
	font-weight: bold;
	color: blue;
}

gramGrp pos {
	color: #ff2600;
}

gramGrp:before {
    content:" ";
}

sense def {
	color: #ff9200;
}

cit bibl{
	color: #9437ff;
}

cit[type='example'] {
    font-size: 15px;
}

sense:before, bibl:before {
    content: " ";
}
sense cit quote {
	color: #935100;
}


 etym {
	color: #00f900;
}

etym:before {
    content: " ";
}


etym lang {
	color: #009192;
}

etym foreign {
	background-color: #008e00;
	color: #feffff;
	font-style: italic;

}

