.tocHide {
    display: none;
}

span.showhide,span.notshowhide {
    margin-right: 5px;
}
li.tocTree ul {
    display: none;
}

/* Handling of example XML code embedded in pages. */
pre.teiCode{
   white-space: pre-wrap;
}

/* We want our XML code to look like code. */
.xmlTag, .xmlAttName, .xmlAttVal, .teiCode{
   font-family: monospace;
}

/* We want our XML code text to be bold. */
.xmlTag, .xmlAttName, .xmlAttVal{
   font-weight: bold;
}

/* We want syntax highlighting. */
/* I think I stole these colour values from oXygen. Sorry George! */
.xmlTag{
   color: #000099;
}

.xmlAttName{
   color: #f5844c;
}

.xmlAttVal{
   color: #993300;
}



/* MDH 2013-08: The following two rulesets are used for the popup footnote
   feature added through popupFootnotes.js. */
div#footnotePopup{
  box-shadow: 6px 6px 3px #808080;
  display: none;
  margin-right: 0;
  max-height: 50%;
  overflow: auto;
  padding: 0.5em;
  position: fixed;
  right: 2%;
  top: 25%;
  width: 25%;
  background-color: #F6F6F6;
  border: 1px solid #2277BB;
}
div.footnotePopupCloser{
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  float: right;
  text-align: center;
  vertical-align: middle;
  width: 1em;
  background-color: #C0C0C0;
}