body {
	font-family: "Lucida Grande", "Times New Roman", "Lucida Sans Unicode", Verdana, sans-serif;
}

teiHeader {
	display: none;
}

form {
	margin-bottom: 1em;
}

form[type="lemma"] {
	font-weight: bold;
}

gramGrp pos {
	color: #ff2600;
}

sense def {
	color: #ff9200;
}

cit bibl{
	color: #9437ff;
}

sense cit quote, значење пример цитат {
	color: #935100;
}


entry etym {
	color: #00f900;
}

entry etym:before {
	content: " [";
}

entry etym:after {
	content: " ] ";
}

etym lang {
	color: #009192;
}

etym mentioned {
	background-color: #008e00;
	color: #feffff;
	font-style: italic;

}

